<!DOCTYPE html>
<html>
	<head>
		<title>Shopping List</title>
		<link href="design.css" type="text/css" rel="stylesheet" >

	</head>
	
	<body>
		<div id="wrapper">
        <div id="header_one">
            <h1>Shopping List</h1>
        </div>
                <div id="welcome"><h2>Welcome back!</h2></div>

            <div id="login_panel">

            <!--- <h3 id="login_label">Login</h3><br/><br/><br><br/><br/><br>-->
                <input type="text" id="usr" name="usr" placeholder="Username"><br/><br/><br>


                <input type="password" name="password" placeholder="Password" id="pwd"><br/><br/><br>


                <button type="button" href="dashboard.html">Log in</button>

                <h4 id="sign_up_link">Don't have an account? Sign up for free!></h4>
            </div>

            

            </div>
        </div>
			            
			<div id="footer">
			
			</div>
		</div>
	</body>
	
	
</html>

















