{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Shopping List{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4" id="notifs">
            <div class='page_header'>
                <h1 id="signup_header">Hi there...</h1>
                <p>Register with us today!</p>
            </div>

            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;
                </button>
                {{ message }}
            </div>
            {% endfor %}

        </div>

        <div class="col-sm-4" id="reg_panel">

            

            {% block page_content %}
            <br/><br/><br/>
            {{ wtf.quick_form(form) }}
            {% endblock %}
            <br/>
            <a href={{ url_for('login') }} id="login_link">Already have an account? Sign in ></a>
        </div>

        <div class="col-sm-4" id="empty">
        </div>


    </div>
</div>

{% endblock %}
