/*------------------GLOBAL STYLING -------------------*/
@font-face {
    
    font-family: gotham-light;
    src: url('../fonts/Gotham-Light.ttf');
}

@font-face {
    font-family: gotham-medium;
    src: url('../fonts/Gotham-Medium.ttf');
}

@font-face {
    font-family: gotham-bold;
    src: url('../fonts/Gotham-Bold.ttf');
}

body{
    background-image: url("../bg.png");
    background-repeat: no-repeat;
	background-attachment: fixed;
}

h1#signup_header {
    font-family: gotham-light;
   color: #ffffff;
   font-size: 4.6em;
}

h1#login_header{
    font-family: gotham-light;
    color: #ffffff;
    font-size: 4.0em;

}

h1{
    font-family: gotham-light;
    color: #ffffff;
    font-size: 2.0em;
}

p{
    font-size: 1.5em;
    font-family: gotham;
    color: #ffffff;

}
.control-label{
    color: #ffffff;
    font-family: gotham-light;
}

div#reg_panel{
    margin-left: 20px;
    }
/*div#empty {
    width: 300px;
    height: 500px;
}*/

div#notifs{
    min-width:220px;
}


input.form-control{
    background-color: #ffffff;
    opacity: 0.9;
    color: #000000;
    height: 40px;
    font-family: gotham-medium;
    font-size: 1em;
}

input#register, input#login{
    margin-top: 20px;
    font-family: gotham-bold;
    font-size: 1.2em;
    background-color: #33cc33;
    color: #ffffff;
    width: 100%;
    height: 45px;
}


a#login_link, a#signup_link{
    font-family: gotham-bold;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    color: #0066ff;
}

.navbar-brand{
    font-family: gotham-bold;
    color: #ffffff;
    font-size: 1.8em;
}

ul.nav{
    font-family: gotham-bold;
    color: #000000;
}

div#login_panel{
    margin-top: 70px;
}

div.alert{
    font-family: gotham-medium;
    min-width: 220px;
}
